body {
background-color: #FEFBF7;
}

#banner {
  width: 100%;
}

#mission {
  size: 20px;
}

em strong {
  color: red;
}

.title {
  padding-left: 20px;
}

.centralized-title {
text-align: center;
}

.main {
  background-color: #CCCCCC;
  text-align: center;
  padding: 30px;
}

.benefits {
  background-color:#FEFBF7;
  padding: 20px;
}

.benefits  h3 {
  text-align: center;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.benefits_img {
  width: 50%;
}